.App {
  text-align: center;
  background-color: rgba(235, 216, 165, 0.336);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Header */ 

.navbar {
  border-bottom: 1px solid #b6b6b62a;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  width: 25%;
  margin: 16px 0px 16px 0px;
}

.navbar-routes {
  display: flex;
  justify-content: space-evenly;
}

.navbar-routes-buttons {
  background-color: #e5e0e9
  
}


/* Profile Page */

.profile-display {
  border-bottom: 1px solid #b6b6b62a;
  padding: 20px 80px 40px 80px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profile-display-stats {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 90%;
  height: 240px;
  margin: auto;
}

.profile-form-stats {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 90%;
  height: 240px;
  margin: auto;
}

.profile-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-form-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-form-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-edit {
  width: 100%;
  padding-top: 16px;
}

.edit-profile-btn {
  display: flex;
  justify-content: flex-start;
}

.form-stats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.form-age {
  padding-bottom: 10%; 
  padding-left: 25%;
}

.form-email {
  padding-bottom: 10%; 
  padding-left: 25%;
}

.form-phone {
  padding-bottom: 10%;
  padding-left: 25%;
}

.form-skill {
  padding-bottom: 10%; 
  padding-left: 25%;
}

.form-work {
  padding-bottom: 10%;
  padding-left: 25%;
}

.form-education {
  padding-bottom: 10%; 
  padding-left: 25%;
}

.form-submit {
  padding-left: 50%;
}

.edit-profile-btn {
  padding-left: 7%;
}

/* Signup Page */

.signup-container {
  height: 88vh;
}

.signup-confirm-button {
  padding-top: 3%;
}

.profile-title {
  font-weight: bold;
}

.project-display {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}

.project-container {
  padding: 20px 80px 40px 80px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project-details {
  display: flex;
  height: 100%;
}

.swimlane-card {
  margin: 0px 16px 0px 16px;
  overflow: scroll;
}

.project-card {
  height: 70vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .task-display {
  width: 90%;
  height: 40px;
  margin: 8px 8px 24px 8px;
  border: 1px solid #b6b6b6b2;
  border-radius: 4px;
  padding: 8px;
} */

.task-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 6px;
}

/* .swimlane-add-button {

} */

.swimlane-scroll {
  overflow: scroll;
}

.logo {
  max-width: 80%;

}

.login-form {
  height: 86vh;
}

.new-swim-lane {
  width: 160px;
}